* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #01579b;
}

.container {
  width: 30%;
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #5dade2;
  border-radius: 10px;
  box-shadow: 5px 5px lightgray;
  padding: 10px;
}

.display {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.copy {
  width: 45px;
  cursor: pointer;
}

.copy:hover {
  width: 50px;
  transition: 0.1s;
}

button {
  font-size: 1.5rem;
  width: 120px;
  cursor: pointer;
  background-color: #019f55;
  color: white;
  border-radius: 5px;
  margin: 0 auto;
}

.input {
  width: 100%;
  border: none;
  font-size: 3rem;
  outline: none;
}

h1 {
  margin-bottom: 14px;
  color: white;
}

.title_text {
  color: #019f55;
  border-bottom: 4px #019f55 solid;
  padding-bottom: 4px;
}
